<nav class="Nav_header">
  <div class="Nav_nav">
    <div class="countainerLeftNav">
      <div>
      <a href="/"
        ><img
          class="icon"
          src="https://cdn-icons-png.flaticon.com/512/2821/2821803.png"
          alt=""
        />
      </a>
      </div>
      <div>
        <div class="search-bar">
          <input
            type="text"
            placeholder="Search character"
            name="q"
            [formControl]="searchTerm"
          />
          <button type="submit">
            <img src="../assets/magnifying-glass-solid.svg" alt="" />
          </button>
        </div>
      </div>
    </div>
    <div>
      <a href="https://github.com/FieldControl/valinor" target="_blank"
        ><img
          id="github_icon"
          class="icon"
          src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
          alt=""
      /></a>
    </div>
  </div>
</nav>
