<ul>
  <img src="{{ data.character.avatarSrc }}" alt="" />
  <li>Name: {{ data.character.name }}</li>
  <li>Age: {{ data.character.age }}</li>
  <li>Village : {{ data.character.village }}</li>
  <li>Rank: {{ data.character.rank }}</li>
  <br />
  <li>Description: {{ data.character.description }}</li>
  <br />
  <li>Notable Features: {{ data.character.notableFeatures }}</li>
  <li>First Anime Appearance: {{ data.character.firstAnimeAppearance }}</li>
  <li>First Manga Appearance: {{ data.character.firstMangaAppearance }}</li>
  <br />
  <li>Name Meaning: {{ data.character.nameMeaning }}</li>
</ul>
